
body {
  font-family: 'Josefin Sans';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.centered {
  text-align: center;
}

.container {
  width: 1162px;
  margin-right: auto;
  margin-left: auto;
}

/* ========================</COMPONENTS>===================== */

/* ========================<HEADER>===================== */
.main-header {
  padding-top: 18.5px;
  padding-bottom: 24.5px;
  border-bottom: 1px solid #000;
}

.header-container {
  display: flex;
  align-items: center;
  
}

.logo-img {
  margin-right: 165px;
}

.menu-list {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-weight: 300;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #000;
}

.icon-social-list {
  display: flex;
  margin-left: auto;
}

.icon-social-list .icon-social-item + .icon-social-item {
  margin-left: 24px;
}

.text-money {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #000;
  margin-left: 10px;
}

/* ========================</HEADER>===================== */


/* ========================<HERO>===================== */

.hero {
  padding-bottom: 91px;
}

.hero-container {
  display: flex;
  align-items: center;
}

.subtitle-hero {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  color: #7F7F7F;
}

.title-hero {
  font-family: 'Cormorant';
  font-weight: 400;
  font-size: 42px;
  line-height: 130%;
  letter-spacing: 0.07em;
  text-transform: capitalize;
  color: #292A33;
  width: 511px;
  margin-bottom: 20px;
}

.description-hero {
  font-weight: 300;
  font-size: 22px;
  line-height: 160%;
  letter-spacing: 0.1em;
  color: #000;
  margin-bottom: 35px;
}

.modal-btn {
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFF;
  background-color: #292A33;
  padding: 14px 28px 14px 28px;
  border: none;
}

.images-bg-hero {
  margin-left: 97px;
}
/* ========================</HERO>===================== */

/* ========================<SHOPS>===================== */


.section-shops {
  padding-bottom: 130px;
}



.title-shops {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Cormorant';
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #000;
  text-align: center;
  margin-bottom: 60px;
}

.title-shops::after {
  display: block;
  width: 100px;
  border: 1px solid #DE1616;
  margin-top: 10px;
  content: '';
  
}



.shops-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  
}

.card-shops {
  cursor: pointer;
}

.card-shops:hover,
.card-shops:focus {
  background-color: #fff;
  box-shadow: 0px 6px 34px rgba(0, 0, 0, 0.15);
}

.text-shops {
  font-family: 'Cormorant';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #000;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 20px;
}

/* ========================</SHOPS>===================== */


/* ========================<ABOUT>===================== */


.section-about {
  /* padding-bottom: 90px; */
  background-image: url('../images/bg-about.jpg');
  background-repeat: no-repeat;
  background-position: top;
  
  
  height: 700px; 
}

.title-about {
  font-family: 'Cormorant';
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #fff;
  text-align: right;
  padding-top: 40px;
}

.btn-about {
  display: block;
  font-weight: 300;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #292A33;
  cursor: pointer;
  background-color: #fff;
  padding: 14px 28px;
  border: none;
  margin-left: auto;
}

/* ========================</ABOUT>===================== */

/* ========================<PURCHASE>===================== */

.section-purchase {
  padding-top: 90px;
  padding-bottom: 180px;
}

.purchase-container {
  display: flex;
}

.title-purchase {
  font-family: 'Cormorant';
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #000;
  text-align: center;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-purchase::after {
  display: block;
  width: 100px;
  border: 1px solid #DE1616;
  margin-top: 10px;
  content: '';
  
}

.list-left-purchase {
  margin-right: 67px;
}

.list-right-purchase {

}

.wrapper-left-content {
  padding: 25px 25px;
  border-top: 1px solid #7F7F7F;
  border-right: 1px solid #7F7F7F;
  border-bottom: 1px solid #7F7F7F;
}

.wrapper-right-content {
  padding: 25px 25px;
  border-top: 1px solid #7F7F7F;
  border-right: 1px solid #7F7F7F;
  border-bottom: 1px solid #7F7F7F;
}

.wrapper-list-content {
  display: flex;
}

.inner-left-purchase {
  display: flex;
}

.inner-purchase-text {
  text-align: center;
}

.inner-right-purchase {
  display: flex;
}

.item-purchase {
  display: flex;
  align-items: center;
  
}

.subtitle-purchase {
  font-family: 'Cormorant';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  /* text-align: center; */
  letter-spacing: 0.1em;
  color: #000;
  margin-bottom: 47px;
}

.text-money {
  font-weight: 300;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #000;
  margin-bottom: 24px;
}

.content-purchase {
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: #000;
  margin-bottom: 19px;
}

.btn-purchase {
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #fff;
  border: none;
  background: #292A33;
  padding: 8px 14px;
  cursor: pointer;
}

.icon-list-purchase {
  display: flex;
  align-items: center;
  margin-left: 49px;
}


.icon-item-purchase {
  cursor: pointer;
}

.icon-item-purchase:hover,
.icon-item-purchase:focus {
  fill: #DE1616;
}

.icon-item-purchase:not(:last-child) {
  margin-right: 26px;
}

/* ========================</PURCHASE>===================== */

/* ========================<SECTION-BANNER>===================== */

.section-banner {
  padding-bottom: 130px;
  background-image: url('../images/section-banner/photo-banner-left.jpg'), url(../images/section-banner/photo-banner-right.jpg);
  background-repeat: no-repeat;
  background-position: 87px, 713px;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0px 40px;
}

/* .section-photo-banner {
  
  background-repeat: no-repeat;
  background-position:
} */

.banner-title-left {
  font-family: 'Cormorant';
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #000;
  margin-bottom: 10px;
  padding-top: 40px;
}

.banner-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 332px;
  width: 204px;
}

.banner-btn-left {
  font-weight: 300;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #292A33;
  padding: 14px 28px;
  border: 1px solid rgba(41, 42, 51, 1);
  background-color: rgba(41, 42, 51, 0);
  cursor: pointer;
}

.banner-title-right {
  font-family: 'Cormorant';
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 366px;
  width: 232px;
  padding-top: 40px;
}

.banner-btn-right {
  font-weight: 300;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 28px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  display: block;
  margin-left: auto;
}


/* ========================</SECTION-BANNER>===================== */

/* ========================<SECTION-LATESK>===================== */

.section-latest {
  padding-bottom: 180px;
}

.title-latest {
  font-family: 'Cormorant';
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-latest::after {
  margin-top: 10px;
  width: 100px;
  border: 1px solid #DE1616;
  display: block;
  content: '';
}

.latest-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -40px;
  margin-left: -40px;
}

.latest-item {
  margin-top: 40px;
  margin-left: 40px;
  flex-basis: calc(100% / 3 - 40px);
}

.card {
  background-color: #fff;
  cursor: pointer;
  height: 466px;
}

.card:hover {
  box-shadow: 0px 6px 34px rgba(0, 0, 0, 0.15);
}

.latest-data-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #7F7F7F;
  writing-mode: vertical-lr;
}

.inner-content-text {
  margin-left: auto;
  width: 318px;
  padding: 0px 20px 0px 0px;
}

.inner-vertical-text {
  display: flex;
  align-items: center;
}

.latest-img {

}

.latesk-subtitle {
  font-family: 'Cormorant';
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  /* text-align: center; */
  letter-spacing: 0.1em;
  color: #000000;
  text-align: center;
  margin-bottom: 10px;
  
}

.latesk-content-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 10px;
}

.latesk-text-prev {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #000000;
  text-align: right;
  padding-bottom: 20px;

}


/* ========================</SECTION-LATESK>===================== */


/* ========================<FORM-REGISTER>===================== */


.section-form-register {
  padding-bottom: 90px;
}


.wrapper-content-register {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #333333;
  margin-bottom: 90px;
}

.inner-content-register {
  border-right: 1px solid #333333;
  background-color: #fff;
  padding: 40px 66px 40px 40px;
}

.title-form-register {
  font-family: 'Cormorant';
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 10px;
}

.text-form-register {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 32px;
  width: 204px;
}

.btn-form-register {
  font-weight: 300;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 14px 28px;
  cursor: pointer;
  color: #292A33;
  background-color: rgba(41, 42, 51, 0);
  border: 1px solid #292A33
}

.wrapper-down-content-register {
  text-align: center;
}

.subject-down-form-register {
  font-family: 'Cormorant';
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subject-down-form-register::after {
  content: '';
  display: block;
  border: 1px solid #DE1616;
  width: 100px;
  margin-top: 10px;
}

.text-down-form-register {
  font-weight: 300;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 20px;
}

.form-register-input {
  border-width: 1px 0px 1px 1px;
  border: 1px solid #292A33;
  width: 387px;
  height: 46px;
}

.btn-form-regist-submit {
  font-weight: 300;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFFFFF;
  padding: 14px 28px;
  background-color: #292A33;
  border: none;
}

/* ========================</FORM-REGISTER>===================== */


/* ========================<SECTION-FOOTER>===================== */
.section-footer {
  border-top: 1px solid #7F7F7F;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-list-column-one {

}

.logo-footer {
  
}

.logo-img-footer {
  padding-top: 25px;
  margin-bottom: 44px;
}

.footer-title-item {
  margin-bottom: 40px;
}

.footer-text{
  width: 179px;
}

.social-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.social-link {
  margin-right: 12px;
}

.social-icon-link {
  
}

.social-address {
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #292A33;
  
}

.footer-subtitle {
  font-family: 'Cormorant';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #292A33;
  padding-top: 25px;
}

.footer-list-item {
  margin-bottom: 22px;
}

.footer-list-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #292A33;
}

.footer-list-column-two {

}

.footer-list-column-three {

}

.footer-address {

}







/* ========================</SECTION-FOOTER>===================== */